
body{
    height: 100vh;
    margin: 0;
    
    background-color: var(--color-bg);
    
    font-family: var(--font-family);

    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    gap:var(--spacing-base);

    width: 400px;
    padding: 40 px;
    border-radius: var(--radius-lg);

    background-color: var(--color-card-bg);
    box-shadow: 0 0 20px #0c0c0c;
}

.app-icon{
    width: 80px;
    height: 80px;

    background-color: var(--color-primary);

    border-radius: 50%;

    margin-bottom: 20px;
}

.app-icon img{
    width: 100%;
}

.app-title{
    color: var(--color-text);
    margin: 0;
    font-size: 30px;
}

.subtitle {
    margin-top: 8px;
    color: var(--color-text-muted);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    align-self: center;
    width: 90%;
    border-radius: var(--radius-lg);
    margin-top: var(--spacing-base);
    margin-bottom: var(--spacing-base);
    padding: var(--spacing-base);
    border: none;
    background: var(--color-primary);
    color: var(--color-text);
    font-size: var(--font-size-base);
    cursor: pointer;
    transition: .3s;
}

.btn:hover{
    background: var(--color-primary-hover);
}

.btn-primary{
    background: var(--color-primary);
    color: var(--color-text);
}

.link-secondary{
    color: var(--color-link);
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.link-secondary:hover{
    text-decoration: underline;
    color: var(--color-link-hover);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

input{
    width: 90%;

}

.section-starter-label{
    width: 90%;
    color: var(--color-text);
    
    margin-bottom: 8px;
    margin-top: 18px;
}

.section-starter-input{
    padding: var(--spacing-base);
    border: none;
    border-radius: var(--radius-lg);
    background: var(--color-sidebar-bg);
    font-size: var(--font-size-base);
    color: var(--color-text);
    box-sizing: border-box;
}
.section-starter-input::placeholder{
    color: var(--color-text-muted);
}
