/*body{
    height: 100vh;
    margin: 0;
    
    background-color: #0F172B;
    
    font-family: sans-serif, Arial, Helvetica;

    display: flex;
    justify-content: center;
    align-items: center;
}*/

/*.login{
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 400px;
    padding: 40px;
    border-radius: 20px;
    
    background-color: #1D293D;
    box-shadow: 0 0 20px #0c0c0c;
}*/

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

/*.header h1{
    color:#FFFF;
    margin: 0;
    font-size: 30px;
}*/

/*.header p{
    margin-top: 8px;
    color: #90A1B9;
}*/

/*.form{
    display: flex;
    flex-direction: column;
}*/

input{
    width: 100%;
}

label{
    color:#FFFF;
    margin-bottom: 8px;
    margin-top: 18px;
}

input{
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: #0F172B;
    font-size: 16px;
    color: #FFFF;
    align-items: center;
    box-sizing: border-box;
}
input::placeholder{
    color:#94A3B8
}

/*button{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    border: none;
    border-radius: 18px;
    background: #155DFC;
    color:#FFFF;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background: #4c83f8;
}*/

/*a{
    display: block;
    text-align: center;
    color: #4c83f8;
}
a:hover{
    text-decoration:underline;
}*/

/*.logo{
    width: 80px;
    height: 80px;

    background-color: #155DFC;

    border-radius: 50%;

    margin-bottom: 20px;
}

.logo img{
    width: 100%;
}*/